<mat-card class="travel-card">
    <mat-card-header>
        <mat-card-title>{{ travel.depart }} → {{ travel.arrive }}</mat-card-title>
        <mat-card-subtitle>
            <span class="date">{{ travel.dateDepart | date:'shortDate' }}</span>
            <mat-icon>arrow_right_alt</mat-icon>
            <span class="date">{{ travel.dateArrivee | date:'shortDate' }}</span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p class="prix">{{ travel.prix | currency }}</p>
    </mat-card-content>

    <mat-card-actions align="end">
        <ng-container *ngFor="let button of actionButtons">
            <button mat-icon-button [color]="button.color || 'primary'" [matTooltip]="button.tooltip || ''"
                (click)="onButtonClick(button.action)">
                <mat-icon>{{ button.icon }}</mat-icon>
            </button>
        </ng-container>

    </mat-card-actions>
</mat-card>