<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Résultats</mat-card-title>
        <mat-card-subtitle>{{ result.depart }} → {{ result.arrive }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Prix :</strong> {{ result.prix }} €</p>
        <p><strong>Date de départ :</strong> {{ result.dateDepart }}</p>
        <p><strong>Durée :</strong> {{ result.dateArrivee }}</p>
    </mat-card-content>
    @if (ISreserver){
        <mat-card-actions>
            <button mat-button  (click)="onReserverClick()">reserver</button>
        </mat-card-actions>
    }
    @if (ISdelete){
        <mat-card-actions>
            <button mat-button  (click)="onDeleteClick()">Supprimer</button>
        </mat-card-actions>
    }
</mat-card>