.travel-card {
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 8px;
  padding: 25px;
  color: white;
  transition: all 0.3s ease;
}


.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.route {
  font-size: 15px;
  font-weight: bold;
}

.price {
  font-size: 13px;
  color: white;
  margin-top: 8px;
}

.dates {
  font-size: 12px;
  color: white;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 18px;
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.travel-card:hover {
  background-color: rgba(255, 255, 255, 0.563);
  border-color: rgba(255, 255, 255, 0.7);
}