<nav class="navbar">
    <div class="icon-button logo" [routerLink]="'/home'">SpaceX</div>
    <div class="spacer"></div>

    <button class="icon-button" aria-label="list" [routerLink]="'/liste_voyages'">
        <span class="material-icons">menu_book</span>
    </button>

    <button class="icon-button" aria-label="search" [routerLink]="'/recherche'">
        <span class="material-icons">search</span>
    </button>

    <button class="icon-button" aria-label="basket" [routerLink]="'/réservation'">
        <span class="material-icons">shopping_cart</span>
    </button>
</nav>
