
.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: black;
    padding: 10px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 12px;
    transition: transform 0.2s;
}


.logo {
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.icon-button:hover {
    transform: scale(1.1);
}